.app__selling-points {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem 4rem;
}

.app__selling-points_heading {
    font-family: var(--font-primary);
    color: var(--color-dark);
    margin-bottom: 5rem;
}

.app__selling-points_feature {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-bottom: 3rem;
}

.app__selling-points_feature:nth-child(3) {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
}

.app__selling-points_feature img {
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 5px;
    -webkit-box-shadow: 18px 11px 49px -10px rgba(21, 22, 35, 1);
    -moz-box-shadow: 18px 11px 49px -10px rgba(21, 22, 35, 1);
    box-shadow: 18px 11px 49px -10px rgba(21, 22, 35, 1);
}

.app__selling-points_content {
    text-align: right;
    width: 40%;
}

.app__selling-points_feature:nth-child(3) .app__selling-points_content {
    text-align: left;
}

.app__selling-points_content-heading {
    font-family: var(--font-primary);
    color: var(--color-cream);
    font-size: 36px;
    margin-bottom: 2rem;
    position: relative;
}

.app__selling-points_content-heading::after {
    content: '';
    height: 1px;
    width: 50%;
    position: absolute;
    background-color: var(--color-dark);
    bottom: -15px;
    right: 0
}

.app__selling-points_feature:nth-child(3) .app__selling-points_content-heading::after {
    content: '';
    height: 1px;
    width: 50%;
    position: absolute;
    background-color: var(--color-dark);
    bottom: -15px;
    left: 0;
}

.app__selling-points_content-description {
    font-family: var(--font-secondary);
}

@media screen and (max-width: 426px) {

    .app__selling-points {
        padding: 0 4rem;
    }
    
    .app__selling-points_heading {
        margin-bottom: 3rem;
    }
    .app__selling-points_feature {
        flex-direction: column;
    }

    .app__selling-points_feature:nth-child(3){
        flex-direction: column;
    }

    .app__selling-points_feature:nth-child(3) .app__selling-points_content {
        text-align: center;
    }

    .app__selling-points_content {
        width: 100%;
        text-align: center;
    }

    .app__selling-points_feature img {
        width: 270px;
        height: 370px;
        margin-bottom: 3rem;
    }

    .app__selling-points_content-heading::after {
        bottom: -15px;
        right: 25%;
    }
    .app__selling-points_feature:nth-child(3) .app__selling-points_content-heading::after{
        bottom: -15px;
        left: 25%;
    }
}

@media screen and (max-width: 376px) {
    .app__selling-points_content-heading {
        font-size: 28px;
    }
    .app__selling-points_content-description {
        font-size: 14px;
    }
    .app__selling-points_feature img {
        width: 230px;
        height: 330px;
    }
}