.app__reviews-section {
    text-align: center;
    padding-top: 2.5rem;
}

.app__reviews {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2.5rem 0;
}

.app__reviews-heading {
    margin-bottom: 1rem;
    font-family: var(--font-primary);
    color: var(--color-dark);
    font-size: 40px;
}

.app__review-container {
    width: 400px;
    height: 130px;
    border-radius: 10px;
    margin: 2rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
}

.app__review-container svg{
    position: absolute;
    top: -25px;
    left: -25px;
    z-index: -1;
}

.app__review-container div {
    height: 1px;
    width: 30%;
    background-color: var(--color-dark);
}

.app__review-content {
    font-family: var(--font-secondary);
    position: relative;
    font-weight: 500;
}

.app__review-name {
    font-family: var(--font-primary);
    color: var(--color-cream);
}



@media screen and (max-width: 789px) {
    .app__review-container {
        justify-content: center;
    }
    .app__review-content {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 426px) {
    .app__review-container {
        width: 300px;
    }
    .app__reviews-heading {
        font-size: 28px;
    }

}

@media screen and (max-width: 376px) {
    .app__review-container {
        width: 250px;
    }
    .app__review-content {
        font-size: 14px;
    }
    .app__review-name {
        font-size: 16px;
    }
    .app__review-container svg{
        font-size: 48px;
    }
    .app__reviews-heading {
        margin-bottom: 0;
    }
}