@import url('https://fonts.googleapis.com/css2?family=Fahkwang:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
    --font-primary: 'Fahkwang', sans-serif;
    --font-secondary: 'Raleway', sans-serif;
    
    --color-dark: #151623;
    --color-cream: #998373;
    --color-white: #FFF;
  }
  
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
  }
  
  a {
    color: unset;
    text-decoration: none;
  }

  #root {
    position: relative;
  }