.app__header{
    width: 100%;
    height: 100vh;
    position: relative;
}

.app__header img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  
}

.app__header-overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.28);
    inset: 0;
    height: 100vh;
}

.app__header-heading {
    font-family: var(--font-primary);
    color: var(--color-white);
    animation: transitionIn 1s ease-in-out;
}

.app__header-heading span:first-child{
    font-size: 60px;
    position: absolute;
    top: 37%;
    right: 10%;
}

.app__header-heading span:nth-child(2){
    font-size: 100px;
    position: absolute;
    top: 43%;
    right: 10%;
}

.app__header-heading span:last-child{
    font-size: 200px;
    position: absolute;
    top: 50%;
    right: 10%;
}

@media screen and (max-width: 768px) {
    .app__header-heading span:first-child{
        font-size: 35px;
        position: absolute;
        top: 42%;
        right: 5%;
    }
    
    .app__header-heading span:nth-child(2){
        font-size: 75px;
        position: absolute;
        top: 48%;
        right: 5%;
    }
    
    .app__header-heading span:last-child{
        font-size: 175px;
        position: absolute;
        top: 55%;
        right: 5%;
    }
}

@media screen and (max-width: 426px) {

    .app__header-heading span:first-child{
        font-size: 24px;
        position: absolute;
        top: 44%;
        right: 40%;
    }
    
    .app__header-heading span:nth-child(2){
        font-size: 60px;
        position: absolute;
        top: 48%;
        right: 27%;
    }
    
    .app__header-heading span:last-child{
        font-size: 110px;
        position: absolute;
        top: 55%;
        right: 5%;
    }
}

@media screen and (max-width: 376px) {

    .app__header-heading span:first-child{
        font-size: 22px;
        position: absolute;
        top: 45%;
        right: 41%;
    }
    
    .app__header-heading span:nth-child(2){
        font-size: 56px;
        position: absolute;
        top: 48%;
        right: 27%;
    }
    
    .app__header-heading span:last-child{
        font-size: 103px;
        position: absolute;
        top: 55%;
        right: 1.5%;
    }
}

@media screen and (max-width: 426px) {
    .app__header-heading span:first-child{
        font-size: 15px;
        position: absolute;
        top: 47%;
        right: 41%;
    }
    
    .app__header-heading span:nth-child(2){
        font-size: 40px;
        position: absolute;
        top: 50%;
        right: 27%;
    }
    
    .app__header-heading span:last-child{
        font-size: 88px;
        position: absolute;
        top: 55%;
        right: 1.5%;
    }
}

@keyframes transitionIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}